{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/responsive.css' %}"
    />
    <link
      rel="icon"
      href="{% static 'images/fevicon.png' %}"
      type="image/gif"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PDF Chat Bot</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            name="search"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <a
            href="/logout/"
            class="btn btn-outline-success btn-light"
            type="submit"
            >Logout</a
          >
        </form>
      </div>
    </div>
  </nav> {% endcomment %}

  <div class="header_section">
    <div class="header_main">
      <div class="mobile_menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo_mobile">
            <a class="logoImg" href="{% url 'home' %}">Chat World</a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="home.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ask_question' %}">Chat PDF</a>
              </li>
              <li>
                  <form class="d-flex" role="search">
                      <a href="/logout/" class="btn btn-outline-success btn-light  " type="submit">Logout</a>
                    </form>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container-fluid">
        <div class="logo"><a class="logoImg" href="{% url 'home' %}">Chat World</a></div>
        <div class="menu_main">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>   
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact us</a></li>  
            <li><a href="{% url 'ask_question' %}">Chat Bot</a></li>  
            
          </ul>
        </div>
      </div>
    </div>
    <!-- banner section start -->

    <!-- banner section end -->
  </div>
  <body>
    <div class="container mt-5 col-auto mx-auto card p-3 shadow-lg">
      <h1>List of PDF Documents</h1>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">PDF title</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for pdf in pdfs %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ pdf.user.username }}</td>
            <td>{{ pdf.title }}</td>
            <td>
              <a
                href="{% url 'update_pdf' pdf.id %}"
                class="btn btn-success m-2"
                >Update</a
              >
              <a href="{% url 'delete_pdf' pdf.id %}" class="btn btn-danger m-2"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
