<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update PDF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="col-md-6 offset-md-3">
            <h1 class="mb-4">Update PDF</h1>
            <form method="POST" enctype="multipart/form-data" class="border rounded p-3 shadow">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger">Update PDF</button>
            </form>
        </div>
    </div>
</body>
</html>
